* {
  margin: 0;
  padding: 0;
}
#form-div {
  width: 650px;
  background-color: rgb(213, 227, 191);
  height: 250px;
  padding: 20px;
  margin-bottom: 10px;
}
.form {
  width: 550px;
  background-color: antiquewhite;
  padding: 20px;
}
label {
  font-size: 25px;
}
input {
  display: block;
  width: 250px;
  border-radius: 10px;
  height: 30px;
}
select {
  width: 90px;
  height: 30px;
  border-radius: 10px;
}
#submit {
  margin-top: 10px;
}
#submit:hover {
  background-color: cadetblue;
}
#table-1-list,
#table-2-list,
#table-3-list {
  width: 450px;
  padding: 10px;
  margin-bottom: 2px;
  height: auto;
}
#table-1-list li,
#table-2-list li,
#table-3-list li {
  border-radius: 10px;
  font-size: 26px;
  list-style: none;
  margin-left: 10px;
  margin-bottom: 3px;
  padding-left: 10px;
  background-color: antiquewhite;
}

.del-btn {
  float: right;
  font-size: 15px;
  margin-top: 5px;
  margin-right: 5px;
}
